.btnS {
    background-color: antiquewhite;
}
.btnL{
    background-color: blue !important;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    width: 80px;
    padding: 7px;
    margin: 6px;
    border-color: white;
}


.navbar {
  position: relative;
  overflow: hidden;
  height: 70px;
}

.navbar-logo {
  height: 200px;
  width: auto;
  object-fit: contain;
  position: absolute;
  top: 50px;
  transform: translateY(-50%);
}

.navbar-nav{
    margin-left: 150px;
}
@media (max-width: 768px) {
  .navbar {
    height: auto;
    
   
  }

  .navbar-logo {
    position: relative;
    height: 150px;
    transform: none;
  }
}
