.btnS {
    background-color: antiquewhite;
}
.btnL{
    background-color: blue !important;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    width: 80px;
    padding: 7px;
    margin: 6px;
    border-color: white;
}

.navbar {
    height: 70px; /* Set a fixed height for the navbar */
}

.navbar-logo {
    width: 200px; /* Adjust this value as needed */
    height: auto; /* Keep height auto to maintain aspect ratio */
    object-fit: contain;
    margin-top: 30px; /* Adjust vertical alignment if needed */
}

@media (max-width: 768px) {
    .navbar-logo {
        width: 150px; /* Adjust for mobile */
    }
}
