.form-container {
  max-width: 750px;
  margin: auto;
  border-radius: 15px;
  background-color: #ffffff;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-label {
  text-align: left;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 2px;
}

.form-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.form-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #003366;
}

.form-control {
  border-radius: 6px;
  padding: 12px;
  font-size: 15px;
}

textarea.form-control {
  resize: vertical;
  min-height: 120px;
}


.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #0056b3;
}
